<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <File name="file" fileName="log4j_log.out">
            <PatternLayout>
                <Pattern>%-7p %d [%t] %c %x - %m%n</Pattern>
            </PatternLayout>
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-7p %d [%t] %c %x - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="file" level="TRACE"/>
            <AppenderRef ref="STDOUT" level="TRACE"/>
        </Root>
    </Loggers>
</Configuration>